<template>
  <div>
    <Home :title="title" />
  </div>
</template>


<script lang="ts" setup>
  const title = 'This will be value undefined'
  throw createError({
      statusCode: 500,
      statusMessage: 'Error'
  })
</script>
